.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.link {
  color: #0070f3;
}

.prices {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.coming {
  text-align: center;
  width: 100vw;
  color: white;
  margin-top: 0;
}

.banner {
  position: fixed;
  bottom: 0;
  left: 0;

  z-index: 5;

  background-color: #FD4D4D;
  color: white;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.33);
}

.banner h2 {
  color: white;
  text-decoration: none;
  padding: 0;
  margin: 7.5px;
  margin-top: 0;
}

.banner div {
  width: 100%;
  display: flex;
  justify-content: right;
}

.banner button {
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1em;
  font-weight: 700;
  border-radius: 5px;
}

.banner button:hover {
  cursor: pointer;
  background-color: #ff2020;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.33);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.subtitle {
  margin: 0;
  font-size: 2rem;
  text-align: center;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.projektTitle {
  text-align: left;
  width: 80%;
  margin: 0;
  padding: 0;
}

.section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  position: relative;
}

.sec1 {
  background-color: black;
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.sec2 {
  /* background-color: #FD4D4D; */
  height: fit-content;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  position: relative;
}

.sec3 {
  background-color: black;
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  position: relative;
  color: white;
  min-height: 100vh;
}

.sec4 {
  background-color: white;
  height: 100px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  position: relative;
  color: white;
}

.curve {
  position: absolute;
  height: 225px;
  width: 100%;
  bottom: 0;
}

.curve::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: white;
  transform: translate(85%, 60%);
}

.curve::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: black;
  transform: translate(-4%, 40%);
  z-index: -1;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave svg {
  position: relative;
  display: block;
  width: calc(104% + 1.3px);
  height: 144px;
  transform: rotateY(180deg);
}

.wave .shapefill {
  fill: #000000;
}

.shapefillred {
  fill: #FD4D4D;
}

.wave2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave2 svg {
  position: relative;
  display: block;
  width: calc(104% + 1.3px);
  height: 144px;
  transform: rotateY(180deg);
}

.wave2 .shape-fill {
  fill: #000000;
  box-shadow: 0 0 12px rgba(253, 77, 77, 0.33);
}

.vid {
  aspect-ratio: 16/9;
  width: 80vw;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.33);
  border: none;
}

.showreel {
  color: white;
  line-height: 1.15;
  font-size: 4rem;
  margin-bottom: 15px;
  text-align: center;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 100%;
}

.row {
  transform: scale(0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 10px;
}

.atag {
  color: #0070f3;
  padding: 0;
  margin: 0;
  /* margin-left: px; */
  /* margin-right: px; */

  font-weight: 700;
  cursor: pointer;
}

.nonthicc {
  font-weight: lighter;
  font-size: 14px;
  text-align: center;
  margin: 0;
}

.flex {
  display: flex;
  align-items: center;
}

.big {
  display: block;
}

.form {
  width: 600px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.33);
  padding: 15px;
  margin: 150px;
}

@media screen and (max-width: 650px) {
  .form {
    width: 95%;
  }
}

.form h1 {
  text-align: center;
  font-size: 42px;
  /* margin-bottom: 15px; */
}

.form button {
  width: 100%;
  border-radius: 10px;
  border: none;
  padding: 15px;
  font-size: 18px;
  background-color: #0070f3;
  color: white;
  margin-top: 7.5px;
  cursor: pointer;
}

.formRow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0.25rem;
  border-radius: 10px;
  border: 1.5px solid rgb(237, 237, 237);
  background-color: rgb(247, 247, 247);
}

.formRow label {
  font-size: 12px;
  font-weight: 700;
  padding-top: 0.4rem;
  padding-left: 0.4rem;
}

.formRow input {
  width: 100%;
  padding: 0.4rem;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
}

.formRow select {
  width: 100%;
  font-size: 17px;
  margin-left: 2.5px;
  padding-top: 0.4rem;
  padding-bottom: 0.2rem;
  background-color: transparent;
  border: none;
  appearance: none;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iNzUycHQiIGhlaWdodD0iNzUycHQiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDc1MiA3NTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiA8cGF0aCBkPSJtNDc4Ljc5IDM5NS43M2M4LjYyMTEgMCAxNS42MDkgNy4yMDMxIDE1LjYwOSAxNi4wODYgMCA0LjI2OTUtMS42NDQ1IDguMzU5NC00LjU3NDIgMTEuMzc5bC0xMDIuNzkgMTA1Ljk1Yy02LjA5NzcgNi4yODUyLTE1Ljk4IDYuMjg1Mi0yMi4wNzQgMGwtMTAyLjc5LTEwNS45NWMtNi4wOTM4LTYuMjg1Mi02LjA5MzgtMTYuNDY5IDAtMjIuNzU0IDIuOTI5Ny0zLjAxNTYgNi44OTg0LTQuNzEwOSAxMS4wMzktNC43MTA5em0tMjE2LjYxLTY2LjkzIDEwMi43OS0xMDUuOTVjNS45MTAyLTYuMDg5OCAxNS4zODMtNi4yNzM0IDIxLjUwOC0wLjU1MDc4bDAuNTY2NDEgMC41NTA3OCAxMDIuNzkgMTA1Ljk1YzIuOTI5NyAzLjAxNTYgNC41NzQyIDcuMTA5NCA0LjU3NDIgMTEuMzc1IDAgOC42NDQ1LTYuNjE3MiAxNS42OTktMTQuOTE0IDE2LjA3NGwtMC42OTUzMSAwLjAxNTYyNWgtMjA1LjU3Yy00LjE0MDYgMC04LjEwOTQtMS42OTUzLTExLjAzOS00LjcxMDktNS45MTAyLTYuMDkzOC02LjA4NTktMTUuODU1LTAuNTM1MTYtMjIuMTcybDAuNTM1MTYtMC41ODIwMyAxMDIuNzktMTA1Ljk1eiIgZmlsbC1ydWxlPSJldmVub2RkIi8+Cjwvc3ZnPgo=") 96% / 7% no-repeat;
}

.formArea textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 125px;
  padding: 0.4rem;
  border-radius: 10px;
  font-size: 17px;
  border: none;
  /* background-color: rgb(247, 247, 247); */
  resize: none;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.formArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3.5px;
  padding: 0.25rem;
  border-radius: 10px;
  border: 1.5px solid rgb(237, 237, 237);
}

.formArea label {
  font-size: 12px;
  font-weight: 700;
  padding-top: 0.4rem;
  padding-left: 0.4rem;
}

.table {
  width: 650px;
  border-spacing: 0;
  border-collapse: collapse;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 25px #ffffff75;
}

.tablehead th {
  /* background-color: #FD4D4D; */
  background-color: white;
  padding: 17.5px;
  text-align: left;
  color: black;
  box-shadow: 0px 8px 0px 0px rgba(255, 255, 255, 1);
  margin-bottom: 0;
  padding-bottom: 10px;
}

.table tr:nth-of-type(even) {
  background-color: rgb(224, 224, 224);
  color: black;
}

.table tr:nth-of-type(odd) {
  background-color: rgb(204, 204, 204);
  color: black;
}

.table tr td {
  padding: 15px;
  height: 10vh;
}

.tdtitle {
  font-size: 17px;
  font-weight: 700;
  width: 25.4%;
  text-align: center;
}

.tdinfo {
  width: 45%;
  text-align: center;
}

.calculator {
  width: fit-content;
  height: fit-content;
  padding: 17.5px;
  border-radius: 7.5px;
  /* background-color: #fd4d4dd0; */
  background-color: white;
  /* box-shadow: 0 0 26px #fd4d4d75; */
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.66);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  margin-top: 100px;
  margin-bottom: 50px;
  color: black;
}

.calculator input[type="radio"] {
  display: none;
  margin: 0;
  padding: 0;
}

.calculator label {
  margin: 5px;
  padding: 4px;
}

.calculator label[for="privatperson"] {
  margin-right: 5px;
  margin-left: -4px;
}

.calculator label[for="unternehmer"] {
  margin-right: -4px;
}

.calculator input[type="radio"]:checked+label {
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.22);
  border-radius: 4px;
  color: black;
  font-weight: 700;
}

.calculatorRow input {
  width: 4vw;
}

.calculatorRow[name="schnitt"] {
  display: flex;
  align-items: center;
}

.calculatorRow input[type="number"] {
  margin-top: 10px;
  font-size: 18px;
  border: none;
  padding: 5px;
  border-radius: 7.5px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.33);
  width: 17%;
}

.calculatorRow input[type="checkbox"] {
  width: 15px;
  height: 15px;
}

.calculatorRow label[for="aufwand"] {
  font-weight: 700;
  font-size: 20px;
  align-self: center;
  min-width: 60px;
}

.calculatorRow {
  width: 80%;
}

.inputs {
  /* border: 1px solid black; */
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.44);
}

.warn {
  font-size: 14px;
  margin-bottom: 10px;
}

.calculator h2 {
  font-weight: 700;
  text-align: center;
}

.radiobtns {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  padding: 9px;
  border-radius: 5px;
}

.equipments {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  padding: 0;
  margin: 0;

}

.equipment {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  padding: 0;
  margin: 0;
}

.equipment img {
  height: 300px;
}

.equipment p {
  text-align: center;
}

.slider {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
}

.sliderButton {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 32px;
  height: 32px;
  font-size: 26px;
  transition: 200ms ease-in-out;
  color: #0070f3;
}

.sliderButton:hover {
  color: grey;
  font-size: 30;
  transform: scale(1.15);
  transition: 200ms ease-in-out;
  color: #0070f3;
}

@media screen and (max-width: 392px) {
  .table {
    font-size: 10px;
  }

  .tdtitle {
    font-size: 11px;
    font-weight: 700;
    width: unset;
    text-align: center;
  }

  .tdinfo {
    width: unset;
    text-align: center;
  }

  .table tr td {
    padding: 0.25rem;
  }
}

@media screen and (max-width: 479px) {
  .table {
    font-size: 14px;
  }

  .tdtitle {
    font-size: 15px;
    font-weight: 700;
    width: unset;
    text-align: center;
  }

  .tdinfo {
    width: unset;
    text-align: center;
  }

  .table tr td {
    padding: 0.5rem;
  }

  .title {
    font-size: 3rem;
  }

  .description {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 642px) {
  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 725px) {
  .table {
    width: 95%;
  }
}

@media screen and (max-width: 849px) {
  .equipments {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .equipment {
    width: 90vw;
  }
}

@media screen and (max-width: 900px) {
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .vid {
    width: 90vw;
  }

  .projektTitle {
    width: 90%;
  }

  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .wave svg {
    position: relative;
    display: block;
    width: calc(104% + 1.3px);
    height: 70px;
    transform: rotateY(180deg);
  }

  .wave2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .wave2 svg {
    position: relative;
    display: block;
    width: calc(104% + 1.3px);
    height: 70px;
    transform: rotateY(180deg);
  }
}

@media screen and (max-width: 1064px) {
  .prices {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}